# --- Go specific ---
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, e.g. coverage.out
*.out
coverage.*

# --- VS Code specific ---
.vscode

# Local History for VS Code (if using extensions)
.history/